<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="filePath" value="C:\data\TurnirAsisstentModel"/>
  </appSettings>
  <connectionString>
    <add name="TurnirAsisstent" connectionString="Server= DESKTOP-GLPV3A0;Database=TurnirAsisstent;Trusted_Connection=True;" providerName="System.Data.SqlClient"/>
  </connectionString>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>